.bg-home-story {
    background-image: url('../../images/unnamed.jpg');
    min-height: 100vh;
    background-size: cover;
    display: flex;
   max-width:440px;
   margin: 0 auto;
   text-align: center;
   padding: 20px;
    justify-content: center;
    align-items: center;
}
.bg-color {
    background: #fff;
}